{{error-messages model=model}}

{{#form-for model}}
  <fieldset class="form-horizontal info">
    <legend>User Info</legend>

    {{input username
      label='Username'
      inputConfig='class:span6'}}

    {{input notes as='text'
      label='Notes'
      inputConfig='class:span6'}}

    {{#if email}}
      <div class="control-group">
        <div class="control-label">E-mail</div>
        <div class="controls">{{email}}</div>
      </div>
    {{/if}}
    {{#if name}}
      <div class="control-group">
        <div class="control-label">Name</div>
        <div class="controls">{{name}}</div>
      </div>
    {{/if}}
  </fieldset>

  {{#if authenticationToken}}
    <fieldset class="form-horizontal info">
      <legend>Admin API Access</legend>

      <div class="control-group">
        <div class="control-label">Admin API Token</div>
        <div class="controls"><span class="api-key">{{authenticationToken}}</span></div>
      </div>
    </fieldset>
  {{/if}}

  <fieldset class="form-horizontal info">
    <legend>Permissions</legend>

    <div class="control-group">
      <div class="control-label">
        <label>Groups</label>
      </div>
      <div class="controls">
        {{view Admin.CheckboxListView checkedValuesBinding='groupIds' contentBinding='groupOptions'}}
      </div>
    </div>

    {{#if currentAdmin.superuser}}
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            {{view Ember.Checkbox checkedBinding='superuser'}}
            Superuser
          </label>
        </div>
      </div>
    {{/if}}

  </fieldset>

  <div class="row-fluid">
    <div class="span6">
      <button type="submit" id="save_button" class="btn btn-large btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Saving...">Save</button>
    </div>
    <div class="span6 record-details">
      {{#if id}}
        Created: {{formatDate createdAt}} by {{creator.username}}<br>
        Last Updated: {{formatDate updatedAt}} by {{updater.username}}<br>
        Last Login: {{formatDate lastSignInAt}} from {{lastSignInIp}} via {{lastSignInProvider}}<br>
        Logged in: {{signInCount}} times<br>
      {{/if}}
    </div>
  </div>
{{/form-for}}
