{{error-messages model=model}}

{{#form-for model}}
  <fieldset class="form-horizontal info">
    <legend>User Info</legend>

    {{input email
      label='E-mail'
      inputConfig='class:span6'}}
    {{input firstName
      label='First Name'
      inputConfig='class:span6'}}
    {{input lastName
      label='Last Name'
      inputConfig='class:span6'}}
    {{input useDescription as='text'
      label='Purpose'
      inputConfig='rows:3;class:span6'}}

    {{#if id}}
      <div class="control-group">
        <div class="control-label">Signed Up</div>
        <div class="controls">{{formatDate createdAt}}</div>
      </div>
      <div class="control-group">
        <div class="control-label">API Key</div>
        <div class="controls">
          {{#if apiKey}}
            <span class="api-key">{{apiKey}}</span><small class="api-key-hides-at-message"> (full API key will disappear <span {{bind-attr data-livestamp="apiKeyHidesAt"}}></span>)</small>
          {{else}}
            <span class="api-key">{{apiKeyPreview}}</span>
          {{/if}}
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">User ID</div>
        <div class="controls">
          {{id}}
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">Registration Source</div>
        <div class="controls">{{registrationSource}}</div>
      </div>
    {{else}}
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            {{view Ember.Checkbox checkedBinding='termsAndConditions'}}
            User agrees to the <a href="/account/terms" onclick="window.open(this.href, 'api_download_popup', 'height=500,width=790,menubar=no,toolbar=no,location=no,personalbar=no,status=no,resizable=yes,scrollbars=yes'); return false;" title="Opens new window to terms and conditions">terms and conditions</a>
          </label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            {{view Ember.Checkbox checkedBinding='sendWelcomeEmail'}}
            Send user welcome e-mail with API key information
          </label>
        </div>
      </div>
    {{/if}}
  </fieldset>

  <fieldset class="form-horizontal">
    <legend>Rate Limiting</legend>
    {{render 'apis/settings_rate_limit_fields' settings}}

    {{input throttleByIp as='select'
      value='throttleByIp'
      label='Limit By'
      collection='throttleByIpOptions'
      optionValuePath='content.id'
      optionLabelPath='content.name'}}
  </fieldset>

  <fieldset class="form-horizontal">
    <legend>Permissions</legend>

    {{input rolesString as='selectize'
      collectionBinding='roleOptions'
      optionValuePath='id'
      optionLabelPath='id'
      class='row-fluid'
      label='Roles'}}

    {{render 'apis/settings_allowed_ips_fields' settings}}
    {{render 'apis/settings_allowed_referers_fields' settings}}

    {{input enabled as='select'
      value='enabled'
      label='Account Enabled'
      collection='enabledOptions'
      optionValuePath='content.id'
      optionLabelPath='content.name'}}
  </fieldset>

  <div class="row-fluid">
    <div class="span6">
      <button type="submit" id="save_button" class="btn btn-large btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Saving...">Save</button>
    </div>
    <div class="span6 record-details">
      Created: {{formatDate createdAt}}{{#if creator}} by {{creator.username}}{{/if}}<br>
      Last Updated: {{formatDate updatedAt}}{{#if updater}} by {{updater.username}}{{/if}}<br>
      E-mail Verified: {{emailVerified}}<br>
      {{#if registrationIp}}
      Registration IP: {{registrationIp}}<br>
      {{/if}}
      {{#if registrationUserAgent}}
      Registration User Agent: {{registrationUserAgent}}<br>
      {{/if}}
      {{#if registrationReferer}}
      Registration Referer: {{registrationReferer}}<br>
      {{/if}}
      {{#if registrationOrigin}}
      Registration Origin: {{registrationOrigin}}<br>
      {{/if}}
    </div>
  </div>
{{/form-for}}
