{{view 'stats/query-form' enableInterval=true}}

{{view 'stats/drilldown-chart' dataBinding='hits_over_time'}}

{{#each breadcrumbs}}
  {{#if linkQuery}}
    {{#link-to 'stats.drilldown' linkQuery}}{{name}}{{/link-to}} /
  {{else}}
    {{name}}
  {{/if}}
{{/each}}

<div id="results_table">
  {{view 'stats/drilldown-table' modelBinding='model'}}
</div>
<div class="results-table-actions">
  <a {{bind-attr href='downloadUrl'}}>Download CSV</a>
</div>

{{view 'loading-overlay' isLoadingBinding='controllers.application.isLoading'}}
