{{error-messages model=model}}

{{#form-for model}}
  <fieldset class="form-horizontal info">
    {{input name
      label='Name'
      inputConfig='class:span6'}}

    {{input host
      label='Host'
      inputConfig='class:span6'}}

    {{input pathPrefix
      label='Path Prefix'
      inputConfig='class:span6'}}
  </fieldset>

  <div class="row-fluid">
    <div class="span6">
      <button type="submit" id="save_button" class="btn btn-large btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Saving...">Save</button>
    </div>
    <div class="span6 record-details">
      {{#if id}}
        Created: {{formatDate createdAt}} by {{creator.username}}<br>
        Last Updated: {{formatDate updatedAt}} by {{updater.username}}<br>
      {{/if}}
    </div>
  </div>
{{/form-for}}
