<%= form_tag(admin_ldap_omniauth_callback_path) do |f| %>
  <div class="form-inputs">
    <div class="form-group string optional admin_username">
      <%= label_tag :username, "#{t(:ldap, :scope => [:omniauth_providers])} #{t("mongoid.attributes.admin.username")}", :class => "control-label" %>
      <%= text_field_tag :username, nil, :class => "form-control string optional" %>
    </div>
    <div class="form-group password optional admin_password">
      <%= label_tag :password, "#{t(:ldap, :scope => [:omniauth_providers])} #{t("mongoid.attributes.admin.password")}", :class => "control-label" %>
      <%= password_field_tag :password, nil, :class => "form-control password optional" %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag "Sign in", :class => "btn btn-default" %>
  </div>
<% end %>
