<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :username, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      </div>
      <%- if devise_mapping.recoverable? %>
        <div class="col-xs-6 text-right">
          <%= link_to t("devise.shared.links.forgot_your_password"), new_password_path(resource_name) %><br />
        </div>
      <% end -%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("devise.sessions.new.sign_in"), :id => "sign_in" %>
  </div>
<% end %>
