<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>API Umbrella Admin</title>
    <%= stylesheet_link_tag "admin" %>
    <%= javascript_tag do %>
      webAdminAjaxApiKey = <%= web_admin_ajax_api_user.api_key.to_json.html_safe %>;
      currentAdmin = <%= current_admin.attributes.slice("username", "superuser").to_json.html_safe %>
    <% end %>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "admin/locales/#{I18n.locale}" %>
    <%= javascript_include_tag "admin" %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= javascript_tag do %>
      google.load("visualization", "1", {packages:["corechart", "geochart"]});
    <% end %>
    <%= csrf_meta_tag %>
    <% if(Rails.env.test?) %>
      <%= stylesheet_link_tag "admin_test" %>
      <%= javascript_include_tag "admin_test" %>
    <% end %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <span class="brand">API Umbrella</span>
          <%= tabs_tag(:builder => BootstrapNavbarTabBuilder, :link_current => true, :open_tabs => { :class => "nav" }) do |tab| %>
            <% if(current_admin.can?("analytics")) %>
              <%= tab.analytics(%(#{t("admin.nav.analytics")} <b class="caret"></b>).html_safe, "#", :class => "dropdown nav-analytics", :link_html => { :class => "dropdown-toggle", "data-toggle" => "dropdown" }) do %>
                <ul class="dropdown-menu">
                  <li><%= link_to(%(<i class="fa fa-sitemap"></i> #{t("admin.nav.api_drilldown")}).html_safe, "/admin/#/stats/drilldown") %></li>
                  <li><%= link_to(%(<i class="fa fa-signal"></i> #{t("admin.nav.filter_logs")}).html_safe, "/admin/#/stats/logs") %></li>
                  <li><%= link_to(%(<i class="fa fa-user"></i> #{t("admin.nav.by_users")}).html_safe, "/admin/#/stats/users") %></li>
                  <li><%= link_to(%(<i class="fa fa-map-marker"></i> #{t("admin.nav.by_location")}).html_safe, "/admin/#/stats/map") %></li>
                </ul>
              <% end %>
            <% end %>
            <% if(current_admin.can_any?(["user_view", "user_manage", "admin_manage"])) %>
              <%= tab.users(%(#{t("admin.nav.users")} <b class="caret"></b>).html_safe, "#", :class => "dropdown nav-users", :link_html => { :class => "dropdown-toggle", "data-toggle" => "dropdown" }) do %>
                <ul class="dropdown-menu">
                  <% if(current_admin.can_any?(["user_view", "user_manage"])) %>
                    <li><%= link_to(%(<i class="fa fa-user"></i> #{t("admin.nav.api_users")}).html_safe, "/admin/#/api_users") %></li>
                  <% end %>
                  <% if(current_admin.can?("admin_manage")) %>
                    <li><%= link_to(%(<i class="fa fa-user"></i> #{t("admin.nav.admin_accounts")}).html_safe, '/admin/#/admins') %></li>
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header"><%= t("admin.nav.permissions_management") %></li>
                    <li><%= link_to(%(<i class="fa fa-lock"></i> #{t("admin.nav.api_scopes")}).html_safe, '/admin/#/api_scopes') %></li>
                    <li><%= link_to(%(<i class="fa fa-group"></i> #{t("admin.nav.admin_groups")}).html_safe, '/admin/#/admin_groups') %></li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
            <% if(current_admin.can_any?(["backend_manage", "backend_publish"])) %>
              <%= tab.config(%(#{t("admin.nav.configuration")} <b class="caret"></b>).html_safe, "#", :class => "dropdown nav-config", :link_html => { :class => "dropdown-toggle", "data-toggle" => "dropdown" }) do %>
                <ul class="dropdown-menu">
                  <li><%= link_to(%(<i class="fa fa-gear"></i> #{t("admin.nav.api_backends")}).html_safe, '/admin/#/apis') %></li>
                  <li><%= link_to(%(<i class="fa fa-gear"></i> #{t("admin.nav.website_backends")}).html_safe, '/admin/#/website_backends') %></li>
                  <li><%= link_to(%(<i class="fa fa-upload"></i> #{t("admin.nav.publish_changes")}).html_safe, '/admin/#/config/publish') %></li>
                  <li class="divider"></li>
                  <li><%= link_to(%(<i class="fa fa-exchange"></i> #{t("admin.nav.import_export")}).html_safe, admin_config_import_export_path) %></li>
                </ul>
              <% end %>
            <% end %>
          <% end %>

          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to(t("admin.nav.my_account"), "/admin/#/admins/#{current_admin.id}/edit") %></li>
                <li><%= link_to(t("admin.nav.logout"), destroy_admin_session_path) %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" class="container-fluid">
      <% flash.each do |flash_type, message| %>
        <div class="alert alert-<%= flash_type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <div id="version_footer" class="container-fluid">
      <div class="row-fluid">
        API Umbrella Version <%= API_UMBRELLA_VERSION %>
      </div>
    </div>

    <div id="loading_overlay" style="display: none;"></div>
  </body>
</html>
