<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>API Umbrella</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div id="main" class="row">
        <% flash.each do |flash_type, message| %>
          <div class="alert <%= bootstrap_class_for(flash_type) %>">
            <%= message.html_safe %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
