<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>API Umbrella</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container-fluid">
      <div id="main" class="row-fluid">
        <% flash.each do |flash_type, message| %>
          <div class="alert alert-<%= flash_type %>">
            <%= message %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
