<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>API Umbrella Admin</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <%= stylesheet_link_tag "admin/login" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="login">
      <% flash.each do |flash_type, message| %>
        <% next unless(message.kind_of?(String)) %>
        <div class="alert <%= bootstrap_class_for(flash_type) %>">
          <%= if(flash[:html_safe]) then message.html_safe else message end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
