<ul>
  <li class="<%= "active" if(current_page.url == "/docs/architecture/") %>">
    <%= link_to("Architecture", "/docs/architecture/") %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/api-keys/") %>">
    <%= link_to("API Keys", "/docs/api-keys/") %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/backend-headers/") %>">
    <%= link_to("Backend HTTP Headers", "/docs/backend-headers/") %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/caching/") %>">
    <%= link_to("Caching", "/docs/caching/") %>
  </li>
</ul>
