<h1><%= t(".change_your_password") %></h1>

<div class="login-container">
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, :label => t(".new_password"), :required => true, :autofocus => true, :hint => t("devise.passwords.password_length_hint", :min => ApiUmbrellaConfig[:web][:admin][:password_length_min]) %>
      <%= f.input :password_confirmation, :label => t(".confirm_new_password"), :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".change_my_password") %>
    </div>
  <% end %>
</div>
