<h1><%= t(".forgot_your_password") %></h1>

<div class="login-container">
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, :required => true, :autofocus => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".send_me_reset_password_instructions") %>
    </div>
  <% end %>
</div>
