<h1><%= @user.first_name %> <%= @user.last_name %> just subscribed</h1>
<h2>Description</h2>

<p>
    <%= @user.use_description %>
</p>

<h2>Extra-informations</h2>

<table>
    <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
    </tr>
    <% unless @user.registration_source.blank? -%>
        <tr>
            <td>Source</td>
            <td><%= @user.registration_source %></td>
        </tr>
    <% end -%>
    <% unless @user.website.blank? -%>
        <tr>
            <td>Website</td>
            <td><%= @user.website %></td>
        </tr>
    <% end -%>
    <tr>
        <td>IP Adress</td>
        <td><%= @user.registration_ip %></td>
    </tr>
    <tr>
        <td>Referer</td>
        <td><%= @user.registration_referer %></td>
    </tr>
    <tr>
        <td>Origin</td>
        <td><%= @user.registration_origin %></td>
    </tr>
</table>
