<p>Your API key for <strong><%= @user.email %></strong> is:</p>
<code class="signup-key"><%= @user.api_key %></code>

<% if(@example_api_url) -%>
<p>You can start using this key to make web service requests. Simply pass your key in the URL when making a web request. Here's an example:</p>
<pre><%= link_to(@formatted_example_api_url.html_safe, @example_api_url) %></pre>
<% end -%>

<div class="signup-footer">
  <p>For additional support, please <a href="<%= @contact_url %>">contact us</a>. When contacting us, please tell us what API you're accessing and provide the following account details so we can quickly find you:</p>
  Account Email: <%= @user.email %><br>
  Account ID: <%= @user.id %>
</div>
