{{#if records}}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center" style="width: 80px;">Publish?</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each records as |record|}}
        <tr>
          <td class="text-center">
            <input type="hidden" name="config[{{category}}][{{record.id}}][mode]" value="{{record.mode}}" />
            <input type="hidden" name="config[{{category}}][{{record.id}}][active_version]" value="{{record.active.version}}" />
            <input type="hidden" name="config[{{category}}][{{record.id}}][pending_version]" value="{{record.pending.version}}" />
            <input type="hidden" name="config[{{category}}][{{record.id}}][publish]" value="0" />
            <input type="checkbox" name="config[{{category}}][{{record.id}}][publish]" value="1" />
          </td>
          <td>{{record.name}}<br><small><a href="#" {{action "toggleConfigDiff" record.id}}>View Config Differences</a></small></td>
        </tr>
        <tr class="line-bottom config-diff-row" data-diff-id="{{record.id}}" style="display: none;">
          <td></td>
          <td>
            <pre class="diff config-diff"></pre>
            <pre class="diff-active-yaml" style="display: none;">{{record.active_yaml}}</pre>
            <pre class="diff-pending-yaml" style="display: none;">{{record.pending_yaml}}</pre>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="text-center"><em>None</em></div>
{{/if}}
