<ErrorMessages @model={{this.model}} />

<form {{action "submit" on="submit"}}>
  <FieldsFor @model={{this.model}} @style="horizontal" as |f|>
    <fieldset class="form-horizontal condensed">
      {{f.text-field "name" label="Name"}}
      {{f.text-field "host" label="Host"}}
      {{f.text-field "pathPrefix" label="Path Prefix"}}

      {{#if currentAdmin.superuser}}
        {{#if model.id}}
          {{#f.static-field "admin_groups" label="Admin Groups"}}
            {{#if model.adminGroups}}
              <ul>
                {{#each model.adminGroups as |adminGroup|}}
                  <li>{{#link-to "admin_groups.edit" adminGroup.id}}{{adminGroup.name}}{{/link-to}}</li>
                {{/each}}
              </ul>
            {{else}}
              None
            {{/if}}
          {{/f.static-field}}

          {{#f.static-field "apis" label="API Backends"}}
            {{#if model.apis}}
              <ul>
                {{#each model.apis as |apiBackend|}}
                  <li>{{#link-to "apis.edit" apiBackend.id}}{{apiBackend.name}}{{/link-to}}</li>
                {{/each}}
              </ul>
            {{else}}
              None
            {{/if}}
          {{/f.static-field}}
        {{/if}}
      {{/if}}
    </fieldset>

    <div class="row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-lg btn-primary save-button"><span class="btn-label">Save</span><span class="btn-loading-label">{{fa-icon "sync-alt" spin=true}}Saving...</span></button>
      </div>
      <div class="col-sm-6 record-details">
        {{#if this.model.id}}
          Created: {{format-date this.model.createdAt}} by {{this.model.creator.username}}<br>
          Last Updated: {{format-date this.model.updatedAt}} by {{this.model.updater.username}}<br>
        {{/if}}
      </div>
    </div>
    {{#if this.model.id}}
      <div class="form-extra-actions">
        <a href="#" class="remove-action" {{action "delete"}}>{{fa-icon "times"}}Delete API Scope</a>
      </div>
    {{/if}}
  </FieldsFor>
</form>
