<h1>Welcome!</h1>

<div class="alert alert-info">
  It looks like you're setting up API Umbrella for the first time. Create your first admin account to get started.
</div>

<div class="login-container">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username, :required => true, :autofocus => true %>
      <%= f.input :password, :required => true, :hint => t("devise.passwords.password_length_hint", :min => ApiUmbrellaConfig[:web][:admin][:password_length_min])  %>
      <%= f.input :password_confirmation, :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".sign_up") %>
    </div>
  <% end %>
</div>
