{{input requireHttps as='select'
  value='model.requireHttps'
  class='row-fluid'
  labelTranslation='admin.api.settings.require_https'
  tooltipClass='qtip-wide'
  tooltipTranslation='admin.api.settings.require_https_tooltip_markdown'
  collection='requireHttpsOptions'
  optionValuePath='content.id'
  optionLabelPath='content.name'
  inputConfig='class:span12'}}
{{input disableApiKey as='select'
  value='model.disableApiKey'
  class='row-fluid'
  labelTranslation='admin.api.settings.disable_api_key'
  collection='disableApiKeyOptions'
  optionValuePath='content.id'
  optionLabelPath='content.name'
  inputConfig='class:span12'}}
{{input apiKeyVerificationLevel as='select'
  value='model.apiKeyVerificationLevel'
  class='row-fluid'
  labelTranslation='admin.api.settings.api_key_verification_level'
  collection='apiKeyVerificationLevelOptions'
  optionValuePath='content.id'
  optionLabelPath='content.name'
  inputConfig='class:span12'}}
{{input model.requiredRolesString as='selectize'
  collectionBinding='roleOptions'
  optionValuePath='id'
  optionLabelPath='id'
  class='row-fluid'
  labelTranslation='admin.api.settings.required_roles'
  tooltipTranslation='admin.api.settings.required_roles_tooltip_markdown'}}
{{#if isSubSettings}}
  <div class="control-group control-group-negative-top">
    <div class="control-label">
    </div>
    <div class="controls">
      <label class="checkbox">
        {{view Ember.Checkbox checkedBinding='model.requiredRolesOverride'}}
        {{t 'admin.api.settings.required_roles_override'}}
        {{tooltip-field title=(t 'admin.api.settings.required_roles_override_tooltip_markdown')}}
      </label>
    </div>
  </div>
{{/if}}

<div class="control-group">
  <div class="control-label">
    <label>{{t 'admin.api.settings.pass_api_key'}}</label>
    {{tooltip-field title=(t 'admin.api.settings.pass_api_key_tooltip_markdown')}}
  </div>
  <div class="controls">
    <label class="checkbox">
      {{view Ember.Checkbox checkedBinding='model.passApiKeyHeader'}}
      {{t 'admin.api.settings.pass_api_key_header'}}
    </label>
    <label class="checkbox">
      {{view Ember.Checkbox checkedBinding='model.passApiKeyQueryParam'}}
      {{t 'admin.api.settings.pass_api_key_param'}}
    </label>
  </div>
</div>

{{render 'apis/settings_rate_limit_fields' model}}

{{input model.defaultResponseHeadersString as='text'
  class='row-fluid'
  labelTranslation='admin.api.settings.default_response_headers'
  placeholder='X-Example-Header: value'
  tooltipTranslation='admin.api.settings.default_response_headers_tooltip_markdown'
  inputConfig='class:span12'}}
{{input model.overrideResponseHeadersString as='text'
  class='row-fluid'
  labelTranslation='admin.api.settings.override_response_headers'
  placeholder='X-Example-Header: value'
  tooltipTranslation='admin.api.settings.override_response_headers_tooltip_markdown'
  inputConfig='class:span12'}}
