<%= simple_form_for [:admin, @api_user] do |f| %>
  <fieldset class="form-horizontal info">
    <legend>User Info</legend>
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input(:use_description,
      :as => :text,
      :label => "Purpose",
      :input_html => { :rows => 3 }) %>

    <% if(@api_user.new_record?) %>
      <%= f.input(:terms_and_conditions,
        :as => :boolean,
        :required => false,
        :label => false,
        :inline_label => %[User agrees to the #{link_to("terms and conditions", terms_account_path, :title => "Opens new window to terms and conditions", :onclick => "window.open(this.href, 'api_download_popup', 'height=500,width=790,menubar=no,toolbar=no,location=no,personalbar=no,status=no,resizable=yes,scrollbars=yes'); return false;")}.].html_safe) %>
    <% else %>
      <div class="control-group">
        <div class="control-label">Signed up</div>
        <div class="controls"><%= @api_user.created_at %></div>
      </div>
      <div class="control-group">
        <div class="control-label">API key</div>
        <div class="controls"><span class="api-key"><%= @api_user.api_key %></span></div>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Rate Limiting</legend>
    <%= f.input :throttle_mode, :as => :radio_buttons, :collection => [:default, :unthrottled, :custom] %>
    <div id="throttle_mode_custom" style="<%= "display: none;" unless(@api_user.throttle_mode == :custom) %>">
      <%= f.input :throttle_hourly_limit %>
      <%= f.input :throttle_daily_limit %>
    </div>
    <%= f.input :throttle_by_ip, :as => :radio_buttons, :collection => [:false, :true], :checked => !!@api_user.throttle_by_ip %>
  </fieldset>

  <fieldset class="form-horizontal info">
    <legend>Permissions</legend>
    <%= f.input(:roles, :collection => available_roles, :include_blank => false, :input_html => { :multiple => true }) %>
  </fieldset>

  <div class="row-fluid">
    <div class="span6">
      <%= f.button :submit, :value => "Save", :class => "btn btn-large btn-primary" %>
    </div>
    <div class="span6 record-details">
      <% unless(@api_user.new_record?) %>
        Created: <%= @api_user.created_at %><%= if(@api_user.creator) then " by #{@api_user.creator.username}" end %><br>
        Last Updated: <%= @api_user.updated_at %><%= if(@api_user.updator) then " by #{@api_user.updator.username}" end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $("input[name='api_user[throttle_mode]']").change(function() {
    if($(this).val() == "custom") {
      $("#throttle_mode_custom").show();
    } else {
      $("#throttle_mode_custom").hide();
    }
  });

  $('#api_user_roles').selectize({
    plugins: ['restore_on_backspace', 'remove_button'],
    delimiter: ',',
    create: true,
  });
<% end %>
