<%= form_for(@admin_api_user) do |f| %>
  <% if @admin_api_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_api_user.errors.count, "error") %> prohibited this admin_api_user from being saved:</h2>

      <ul>
      <% @admin_api_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :api_key %><br />
    <%= f.text_field :api_key %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
