<h1>API Users</h1>

<div class="row-fluid">
  <div class="span6">
    <%= form_tag(admin_api_users_path, :method => :get, :class => "form-search") do %>
      <div class="input-append">
        <%= text_field_tag(:search, params[:search], :class => "search-query") %>
        <button type="submit" class="btn">Search</button>
      </div>
    <% end %>
  </div>
  <div class="span6 button-actions">
    <%= link_to '<i class="icon-plus icon-white"></i> Add New API User'.html_safe, new_admin_api_user_path, :class => "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">E-mail</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Puprose</th>
      <th scope="col">Created</th>
      <th scope="col">API Key</th>
    </tr>
  </thead>
  <tbody>
    <% @api_users.each do |api_user| %>
      <tr>
        <td><%= link_to(api_user.email, edit_admin_api_user_path(api_user)) %></td>
        <td><%= api_user.first_name %></td>
        <td><%= api_user.last_name %></td>
        <td><%= api_user.use_description %></td>
        <td><%= api_user.created_at %></td>
        <td><span class="api-key"><%= api_user.api_key %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @api_users %>
