<div class="form-group {{wrapperErrorClass}}">
  <div class="col-sm-2 control-label">
    <label for="{{inputId}}">{{label}}</label>
    {{#if tooltip}}
      <a href="#" rel="tooltip" title="{{tooltip}}"><i class="fa fa-question-circle" aria-hidden="true"></i><span class="sr-only">Help</span></a>
    {{/if}}
  </div>
  <div class="col-sm-10">
    {{yield}}
    {{#if fieldHasErrors}}
      <div class="help-block with-errors">
        {{#each fieldErrorMessages as |message|}}
          {{message}}<br>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
