{{error-messages model=model}}

<form {{action "submit" on="submit"}}>
  {{#fields-for model=model style="vertical" as |f|}}
    {{f.text-field "name" label=(t "mongoid.attributes.api.name")}}

    <fieldset>
      <legend>{{t "admin.api.servers.legend"}}</legend>
      <p class="fieldset-note">{{t "admin.api.servers.note"}}</p>
      {{f.select-field "backendProtocol" label=(t "mongoid.attributes.api.backend_protocol") options=backendProtocolOptions}}

      {{apis/server-table model=model}}
    </fieldset>

    <fieldset>
      <legend>{{t "admin.api.host.legend"}}</legend>
      <p class="fieldset-note">{{t "admin.api.host.note"}}</p>
      <div class="row">
        <div class="col-sm-5">
          {{f.text-field "frontendHost" label="Frontend Host"}}
        </div>
        <div class="col-sm-2 arrow">
          <i class="fa fa-arrow-right fa-2x"></i>
          <div>rewrite to</div>
        </div>
        <div class="col-sm-5">
          {{f.text-field "backendHost" label="Backend Host" placeholder="api.example.com"}}
        </div>
      </div>
    </fieldset>
  {{/fields-for}}

  <fieldset>
    <legend>{{t "admin.api.url_matches.legend"}}</legend>
    <p class="fieldset-note">{{t "admin.api.url_matches.note"}}</p>
    {{apis/url-match-table model=model}}
  </fieldset>

  <fieldset class="collapsible">
    <legend><a data-toggle="collapse" class="collapsed" data-target="#global_settings"><i class="fa fa-caret-down"></i> Global Request Settings</a></legend>
    <div id="global_settings" class="collapse form-horizontal">
      {{#fields-for model=model.settings style="horizontal-wide-labels" as |f|}}
        {{f.text-field "appendQueryString" label="Append Query String Parameters" placeholder="param1=value&param2=value"}}
        {{f.textarea-field "headersString" label="Set Request Headers" placeholder="X-Example-Header: value"}}
        {{f.text-field "httpBasicAuth" label="HTTP Basic Authentication" placeholder="username:password"}}
      {{/fields-for}}

      {{apis/settings/common-fields model=model.settings roleOptions=roleOptions}}
    </div>
  </fieldset>

  <fieldset class="collapsible">
    <legend><a data-toggle="collapse" class="collapsed" data-target="#sub_settings"><i class="fa fa-caret-down"></i> {{t "admin.api.sub_settings.legend"}}</a></legend>
    <div id="sub_settings" class="collapse">
      <p class="fieldset-note">{{t "admin.api.sub_settings.note"}}</p>
      {{apis/sub-settings-table model=model roleOptions=roleOptions}}
    </div>
  </fieldset>

  <fieldset class="collapsible">
    <legend><a data-toggle="collapse" class="collapsed" data-target="#rewrites"><i class="fa fa-caret-down"></i> {{t "admin.api.rewrites.legend"}}</a></legend>
    <div id="rewrites" class="collapse">
      <p class="fieldset-note">{{t "admin.api.rewrites.note"}}</p>
      {{apis/rewrite-table model=model}}
    </div>
  </fieldset>

  <fieldset class="collapsible">
    <legend><a data-toggle="collapse" class="collapsed" data-target="#advanced_settings"><i class="fa fa-caret-down"></i> Advanced Settings</a></legend>
    <div id="advanced_settings" class="collapse form-horizontal">
      {{#fields-for model=model style="horizontal-wide-labels" as |f|}}
        {{f.select-field "balanceAlgorithm" label="Balance Algorithm" options=balanceAlgorithmOptions}}
       {{/fields-for}}

      {{#fields-for model=model.settings.errorTemplates style="horizontal-wide-labels" as |f|}}
        <h4>{{t "mongoid.attributes.api/settings.error_templates"}}</h4>
        {{f.ace-field "json" label=(t "admin.api.settings.error_templates_json") tooltip=(t "admin.api.settings.error_templates_json_tooltip_markdown") mode="json"}}
        {{f.ace-field "xml" label=(t "admin.api.settings.error_templates_xml") tooltip=(t "admin.api.settings.error_templates_xml_tooltip_markdown") mode="xml"}}
        {{f.ace-field "csv" label=(t "admin.api.settings.error_templates_csv") tooltip=(t "admin.api.settings.error_templates_csv_tooltip_markdown") mode="text"}}
      {{/fields-for}}

      {{#fields-for model=model.settings.errorDataYamlStrings style="horizontal-wide-labels" as |f|}}
        <h4>{{t "mongoid.attributes.api/settings.error_data"}}</h4>
        {{f.ace-field "common" label=(t "admin.api.settings.error_data_common") tooltip=(t "admin.api.settings.error_data_common_tooltip_markdown") mode="yaml"}}
        {{f.ace-field "api_key_missing" label=(t "admin.api.settings.error_data_api_key_missing") tooltip=(t "admin.api.settings.error_data_api_key_missing_tooltip_markdown") mode="yaml"}}
        {{f.ace-field "api_key_invalid" label=(t "admin.api.settings.error_data_api_key_invalid") tooltip=(t "admin.api.settings.error_data_api_key_invalid_tooltip_markdown") mode="yaml"}}
        {{f.ace-field "api_key_disabled" label=(t "admin.api.settings.error_data_api_key_disabled") tooltip=(t "admin.api.settings.error_data_api_key_disabled_tooltip_markdown") mode="yaml"}}
        {{f.ace-field "api_key_unauthorized" label=(t "admin.api.settings.error_data_api_key_unauthorized") tooltip=(t "admin.api.settings.error_data_api_key_unauthorized_tooltip_markdown") mode="yaml"}}
        {{f.ace-field "over_rate_limit" label=(t "admin.api.settings.error_data_over_rate_limit") tooltip=(t "admin.api.settings.error_data_over_rate_limit_tooltip_markdown") mode="yaml"}}
        {{f.ace-field "https_required" label=(t "admin.api.settings.error_data_https_required") tooltip=(t "admin.api.settings.error_data_https_required_tooltip_markdown") mode="yaml"}}
      {{/fields-for}}
    </div>
  </fieldset>

  <div class="row">
    <div class="col-sm-6">
      <button type="submit" id="save_button" class="btn btn-lg btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Saving...">Save</button>
    </div>
    <div class="col-sm-6 record-details">
      {{#if model.id}}
        Created: {{format-date model.createdAt}} by {{model.creator.username}}<br>
        Last Updated: {{format-date model.updatedAt}} by {{model.updater.username}}<br>
      {{/if}}
    </div>
  </div>
  {{#if model.id}}
    <div class="form-extra-actions">
      <a href="#" class="remove-action" {{action "delete"}}><i class="fa fa-times"></i>Delete API</a>
    </div>
  {{/if}}
</form>
