<p>Hi <%= @admin.email %>,</p>

<% if(@token) %>
<p>Welcome to the <%= @site_name %> admin. To get started, set your password with the link below.</p>
<p><%= link_to "Set my password", edit_password_url(@admin, :reset_password_token => @token, :invite => true) %></p>
<% else %>
<p>Welcome to the <%= @site_name %> admin. To get started, sign in with an account associated with your <%= @admin.email %> email address at the link below.</p>
<p><%= link_to "Admin sign in", new_admin_session_url %></p>
<% end %>

<p>If you didn't request an account, please ignore this email.</p>
