<div class="row-fluid">
  <div class="span8">
    <h1>Community</h1>
    <p>Stay informed about the latest Web services and activities on Data.gov's developer network.</p>

    <h2><%= link_to("Follow Us on Twitter", "http://twitter.com/#{t("twitter_account")}") %></h2>
    <p>Find us on Twitter <%= link_to("@#{t("twitter_account")}", "http://twitter.com/#{t("twitter_account")}") %> where we'll announce new APIs and any API changes.</p>

    <h2>Get Started</h2>
    <p>Still waiting to build something great? Explore our <%= link_to("available services", doc_path) %> and <%= link_to("get your own API key", signup_path) %>.</p>
    <p>Questions, comments, or feel like sharing your work? Reach out to us <%= link_to("@#{t("twitter_account")}", "http://twitter.com/#{t("twitter_account")}") %> or <%= link_to("contact us", contact_path) %>.</p>
  </div>

  <div class="span4">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 6000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#eee',
          color: '#666'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#004f99'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('<%= t("twitter_account") %>').start();
    </script>
  </div>
</div>
