<h1>General Web Service Errors</h1>
<p>Certain, general errors will be returned in a standardized way from all NREL Web services. Additional, service-specific error messages may also be returned (see individual service documentation for those details). The following list describes the general errors any application may return:</p>

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">403</th>
      <td class="doc-parameter-description">
        Forbidden - Either no api_key parameter was supplied in the URL, or an invalid api_key was given. You can <%= link_to("get your own API key", signup_path) %>.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">503</th>
      <td class="doc-parameter-description">
        Service Unavailable - Your API key has exceeded the rate limits. See <%= link_to("rate limits", doc_rate_limits_path) %> for more detail.
      </td>
    </tr>
  </tbody>
</table>

<h2>Error Messages</h2>
<p>A brief description of the error will be returned in the response body. These error message are subject to change, so it's suggested any error handling use the HTTP status code and not the contents of this message.</p>

<h3>Error Message Response Formats</h3>
<p>Depending on the requested format, the error message response may be returned in JSON, XML, CSV, or plain text. Unknown request formats will return errors in plain text format.</p>

<h4>JSON Example</h4>
<%= cached_highlight_code(:js, File.read("#{Rails.root}/app/views/pages/errors_example_response.json")) %>

<h4>XML Example</h4>
<%= cached_highlight_code(:xml, File.read("#{Rails.root}/app/views/pages/errors_example_response.xml")) %>

<h4>CSV Example</h4>
<%= cached_highlight_code(:text, File.read("#{Rails.root}/app/views/pages/errors_example_response.csv")) %>

<h4>Plain Text Example</h4>
<%= cached_highlight_code(:text, File.read("#{Rails.root}/app/views/pages/errors_example_response.txt")) %>
