<div class="hero-unit">
  <h1>API Umbrella</h1>
  <p class="lead">An open-source API management platform.</p>
</div>

<div class="row-fluid">
  <div class="span4 feature feature-doc">
    <h2><%= link_to("Web Service Documentation", doc_path) %></h2>
    <p>Explore our available Web services.</p>
    <ul>
      <% @collections.each do |collection| %>
        <li><%= link_to(collection.title, collection.url_path) %></li>
      <% end %>
    </ul>
  </div>

  <div class="span4 feature feature-key">
    <h2><%= link_to("API Key", signup_path) %></h2>
    <p>Sign up to use our APIs.</p>
    <ul>
      <li><%= link_to("Get an API Key", signup_path) %></li>
    </ul>

  </div>

  <div class="span4 feature feature-community">
    <h2><%= link_to("Community", community_path) %></h2>
    <p>Join the discussion and stay updated.</p>
    <ul>
      <li><%= link_to("Follow Us on Twitter", "http://twitter.com/usdatagov") %></li>
    </ul>
  </div>
</div>
