<h1>Contact Us</h1>
<p>Feel free to contact us with questions, comments, or to report any problems.</p>

<p class="required-fields"><%= t("simple_form.required.html") %> Required fields</p>

<%= simple_form_for(@contact, :url => contact_path, :validate => true, :html => { :class => "form-horizontal account-form" }) do |f| %>
  <%= f.input(:name) %>
  <%= f.input(:email) %>
  <%= f.input(:message,
    :as => :text,
    :input_html => { :rows => 6 }) %>

  <div class="controls">
    <button type="submit" class="btn btn-large btn-primary">Send</button>
  </div>
<% end %>
