{{error-messages model=model}}

{{#form-for model}}
  <fieldset class="form-horizontal info">
    {{input frontendHost
      label='Frontend Host'
      placeholder='example.com'
      inputConfig='class:span6'}}

    {{input backendProtocol as='select'
      label=(t 'mongoid.attributes.api.backend_protocol')
      value='backendProtocol'
      collection='backendProtocolOptions'
      optionValuePath='content.id'
      optionLabelPath='content.name'}}

    {{input serverHost
      label='Backend Server'
      placeholder='example.github.io'
      inputConfig='class:span6'}}

    {{input serverPort
      label='Backend Port'
      inputConfig='class:span2'}}
  </fieldset>

  <div class="row-fluid">
    <div class="span6">
      <button type="submit" id="save_button" class="btn btn-large btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Saving...">Save</button>
    </div>
    <div class="span6 record-details">
      {{#if id}}
        Created: {{formatDate createdAt}} by {{creator.username}}<br>
        Last Updated: {{formatDate updatedAt}} by {{updater.username}}<br>
      {{/if}}
    </div>
  </div>
  {{#if id}}
    <div class="row-fluid form-extra-actions">
      <a href="#" class="remove-action" {{action 'delete'}}><i class="fa fa-times"></i>Delete Website Backend</a>
    </div>
  {{/if}}
{{/form-for}}
