{{#formFor model}}
  {{input name inputConfig='class:span6'}}

  <fieldset>
    <legend>Backend</legend>
    <p class="fieldset-note">Define the server where the API is hosted. Multiple servers can be defined to perform load balancing.</p>
    {{input backendProtocol as='select'
      value='backendProtocol'
      collection='backendProtocolOptions'
      optionValuePath='content.id'
      optionLabelPath='content.name'}}

    {{#if servers}}
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Server</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each servers}}
            <tr>
              <td>{{../backendProtocol}}://{{hostWithPort}}</td>
              <td class="table-row-actions">
                <a href="#" {{action 'editServer' this}}><i class="icon-pencil"></i>Edit</a>
                <a href="#" class="remove-action" {{action 'deleteServer' this}}><i class="icon-remove"></i>Remove</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    <button type="button" class="btn btn-mini" {{action 'addServer'}}><i class="icon-plus-sign"></i> Add Server</button>
  </fieldset>

  <fieldset>
    <legend>Host</legend>
    <div class="row-fluid">
      <div class="span5">
        {{input frontendHost
          label='Frontend Host'
          inputConfig='class:span12'}}
      </div>
      <div class="span2 arrow">
        <i class="icon-arrow-right icon-2x"></i>
        <div>rewrite to</div>
      </div>
      <div class="span5">
        {{input backendHost
          label='Backend Host'
          placeholder='api.example.com'
          inputConfig='class:span12'}}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Matching URL Prefixes</legend>
    <p class="fieldset-note">What URL prefixes on api.data.gov should be routed to this backend?</p>
    {{render 'apis/url_matches' urlMatches}}
  </fieldset>

  <fieldset>
    <legend><a data-toggle="collapse" class="collapsed" data-target="#global_settings"><i class="icon-caret-down"></i> Global Request Settings</a></legend>
    <div id="global_settings" class="collapse form-horizontal form-horizontal-wide">
      {{#with settings}}
        {{input appendQueryString
          class='row-fluid'
          label='Append Query String Parameters'
          placeholder='param1=value&param2=value'
          inputConfig='class:span12'}}
        {{input headersString as='text'
          class='row-fluid'
          label='Set Headers'
          placeholder='X-Example-Header: value'
          inputConfig='class:span12'}}
        {{input httpBasicAuth
          class='row-fluid'
          label='HTTP Basic Authentication'
          placeholder='username:password'
          inputConfig='class:span12'}}
      {{/with}}

      {{partial 'apis/settings'}}
    </div>
  </fieldset>

  <fieldset>
    <legend><a data-toggle="collapse" class="collapsed" data-target="#sub_settings"><i class="icon-caret-down"></i> Sub-URL Request Settings</a></legend>
    <div id="sub_settings" class="collapse">
      <p class="fieldset-note">Change settings for specific sub-URLs within this API.</p>
      {{render 'apis/sub_settings' subSettings}}
    </div>
  </fieldset>

  <fieldset>
    <legend><a data-toggle="collapse" class="collapsed" data-target="#rewrites"><i class="icon-caret-down"></i> Advanced Requests Rewriting</a></legend>
    <div id="rewrites" class="collapse">
      <p class="fieldset-note">Modify the incoming request's URL or headers before passing it to the backend.</p>
      {{render 'apis/rewrites' rewrites}}
    </div>
  </fieldset>

  <fieldset>
    <legend><a data-toggle="collapse" class="collapsed" data-target="#advanced_settings"><i class="icon-caret-down"></i> Advanced Settings</a></legend>
    <div id="advanced_settings" class="collapse">
      {{input balanceAlgorithm as='select'
         value='balanceAlgorithm'
         collection='balanceAlgorithmOptions'
         optionValuePath='content.id'
         optionLabelPath='content.name'}}
    </div>
  </fieldset>

  <button type="submit" id="save_button" class="btn btn-large btn-primary" data-loading-text="<i class='icon-refresh icon-spin'></i> Saving...">Save</button>
{{/formFor}}
