{{input requireHttps as='select'
  value='requireHttps'
  label='HTTPS Requirements'
  collection='requireHttpsOptions'
  optionValuePath='content.id'
  optionLabelPath='content.name'}}
{{input disableApiKey as='select'
  value='disableApiKey'
  label='API Key Checks'
  collection='disableApiKeyOptions'
  optionValuePath='content.id'
  optionLabelPath='content.name'}}
{{#view Admin.SelectizeView valueBinding='requiredRolesString' contentBinding='roleOptions' optionValuePath='id' optionLabelPath='id'}}
  {{input requiredRolesString
    class='row-fluid'
    label='Required Roles'}}
{{/view}}

<div class="control-group">
  <div class="control-label">
    <label>Pass API Key to Backend (deprecated)</label>
    {{tooltip-field title="<p>Whether to pass the user's api key to this API backend.</p><p><strong><em>Deprecated:</em></strong> This is deprecated and support of this will be removed in the future. Enabling either option is not recommend.</p><p>If your API backend needs to uniquely reference the requesting user, use the <code>X-Api-User-Id</code> HTTP header instead.</p><p><em>Note:</em> Passing via GET query parameter with render API Umbrella's HTTP caching layer mostly ineffectual (since the cache will be mainted per api key)."}}
  </div>
  <div class="controls">
    <label class="checkbox">
      {{view Ember.Checkbox checkedBinding='passApiKeyHeader'}}
      Via HTTP header
    </label>
    <label class="checkbox">
      {{view Ember.Checkbox checkedBinding='passApiKeyQueryParam'}}
      Via GET query parameter
    </label>
  </div>
</div>

{{render 'apis/settings_rate_limit_fields' this}}
