{{#form-for model}}
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span5">
        {{input frontendPrefix
          placeholder='/example/'
          inputConfig='class:span12'}}
      </div>
      <div class="span2 arrow">
        <i class="fa fa-arrow-right fa-2x"></i>
        <div>rewrite to</div>
      </div>
      <div class="span5">
        {{input backendPrefix
          placeholder='/example/'
          inputConfig='class:span12'}}
      </div>
    </div>

    {{#unless id}}
      <p class="alert alert-info">
        <strong>Tip:</strong> We recommend using trailing slashes when configuring these URL prefixes when possible (for example, using <code>/wind/</code> instead of <code>/wind</code>). While not necessary, this helps prevent future overlapping conflicts (for example, if someone later wants to set up <code>/windmill/</code>).
      </p>
    {{/unless}}

    <h4>Example:</h4>
    <div><strong>Incoming Frontend Request:</strong> {{exampleIncomingUrl}}</div>
    <div><strong>Outgoing Backend Request:</strong> {{exampleOutgoingUrl}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" {{action 'cancel'}}>Cancel</button>
    <button type="submit" class="btn btn-primary" {{action 'ok'}}>OK</button>
  </div>
{{/form-for}}
