<select id={{@inputId}} class={{@inputClass}} {{on "change" this.onChange}}>
  {{#each @options as |opt|}}
    <option value={{this.optionValue opt.id}} data-typed-value={{this.optionTypedValue opt.id}} selected={{this.isSelected opt.id}}>{{opt.name}}</option>
  {{/each}}
</select>