<h1>Admin Accounts</h1>

<div class="button-actions">
  <%= link_to '<i class="icon-plus icon-white"></i> Add New Admin'.html_safe, new_admin_admin_path, :class => "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= link_to admin.username, edit_admin_admin_path(admin) %></td>
        <td><%= admin.first_name %></td>
        <td><%= admin.last_name %></td>
        <td><%= link_to('<i class="icon-trash"></i> Delete'.html_safe, admin_admin_path(admin), :method => :delete, :confirm => "Are you sure you want to delete this admin account?") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @admins %>
