<h1><%= crumbs.last.first %></h1>

<div class="button-actions">
  <%= link_to '<i class="icon-plus icon-white"></i> Add New Service'.html_safe, new_admin_api_doc_service_path, :class => "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Web Service</th>
      <th scope="col">Summary</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.title, edit_admin_api_doc_service_path(service) %></td>
        <td><%= service.summary_intro.html_safe %></td>
        <td><%= link_to('<i class="icon-trash"></i> Delete'.html_safe, admin_api_doc_service_path(service), :method => :delete, :confirm => "Are you sure you want to delete this web service?") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @services %>
