<div id="content" class="grid_12">

<h1>Documentation</h1>
<p>Use this Web service documentation to access and use energy data via application programming interfaces (APIs) in these renewable energy categories. You'll need a key to use these APIs. <%= link_to("Sign up for an API key", signup_path) %>.</p>

<div class="doc-service-list">
  <% @collections.each do |collection| %>
    <h2><%= link_to(collection.title, collection.url_path)  %></h2>
    <%= simple_format(collection.summary) %>
  <% end %>
</div>

<h4>General Information</h4>
<ul>
  <li><%= link_to("API Key Usage", doc_api_key_path) %> - How to use your API key after signing up.</li>
  <li><%= link_to("Web Service Rate Limits", doc_rate_limits_path) %> - Daily and hourly rate limits on accessing NREL's Web services.</li>
  <li><%= link_to("General Web Service Errors", doc_errors_path) %> - General error codes that can be returned by any NREL Web service.</li>
</ul>

</div>
