<div id="content" class="grid_12">

<h1><%= @collection.title %></h1>
<%= simple_format(@collection.summary) %>
<% if @collection.body.present? %>
  <%= simple_format(@collection.body) %>
<% end %>

<div class="doc-service-list">
  <% @child_collections.each do |collection| %>
    <h2><%= link_to(collection.title, collection.url_path)  %></h2>
    <%= simple_format(collection.summary) %>
  <% end %>
</div>

<div class="doc-service-list">
  <% @child_services.each do |service| %>
    <h2><%= link_to(service.title, service.url_path) %></h2>
    <%= simple_format(service.summary_intro) %>
  <% end %>
</div>

</div>
