<%= simple_form_for [:admin, @api] do |f| %>
  <%= f.input(:name, :input_html => { :class => "span6" }) %>

  <fieldset class="form-horizontal">
    <legend>Backend Servers</legend>

    <%= f.simple_fields_for(:servers) do |server_fields| %>
      <%= render("server_fields", :f => server_fields) %>
    <% end %>
    <div class="links">
      <%= link_to_add_association('<i class="icon-plus-sign"></i> Add Server'.html_safe, f, :servers, :class => "btn btn-mini") %>
    </div>
  </fieldset>

  <fieldset class="form-horizontal">
    <legend>Routing</legend>

    <%= f.simple_fields_for(:routes) do |route_fields| %>
      <%= render("route_fields", :f => route_fields) %>
    <% end %>
    <div class="links">
      <%= link_to_add_association('<i class="icon-plus-sign"></i> Add Route'.html_safe, f, :routes, :class => "btn btn-mini") %>
    </div>
  </fieldset>

  <fieldset class="form-horizontal">
    <legend>Advanced Options</legend>

    <%= f.input :require_https, :as => :boolean %>
  </fieldset>
<% end %>
