<div class="toggle-facet-table"><a {{action 'toggleFacetTable' target='view'}}>{{view.toggleLabel}}</a></div>
<table class="table facet-table" style="display: none;">
  <thead>
    <tr>
      <th>User</th>
      <th class="value">Hits</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each view.data}}
      <tr>
        <td>{{#link-to 'stats.logs' linkQuery}}{{key}}{{/link-to}}</td>
        <td class="value">{{formatNumber count}}</td>
        <td class="value">{{percent}}%</td>
      </tr>
    {{/each}}
  </tbody>
</table>
