<% require 'devise/version' %>
<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: (Devise::VERSION.start_with?('3.', '4.') ? @token : @resource.reset_password_token)) %></p>

<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>
