{{#if session.isAuthenticated}}
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <span class="navbar-brand">API Umbrella</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        {{#if currentAdmin.permissions.analytics}}
          <li class="nav-item dropdown nav-analytics">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{t "Analytics"}}</a>
            <div class="dropdown-menu">
              {{#link-to "stats.drilldown" class="dropdown-item"}}{{fa-icon "sitemap" fixedWidth=true}} {{t "API Drilldown"}}{{/link-to}}
              {{#link-to "stats.logs" class="dropdown-item"}}{{fa-icon "signal" fixedWidth=true}} {{t "Filter Logs"}}{{/link-to}}
              {{#link-to "stats.users" class="dropdown-item"}}{{fa-icon "user" fixedWidth=true}} {{t "By Users"}}{{/link-to}}
              {{#link-to "stats.map" class="dropdown-item"}}{{fa-icon "map-marker-alt" fixedWidth=true}} {{t "By Location"}}{{/link-to}}
            </div>
          </li>
        {{/if}}
        {{#if (or currentAdmin.permissions.user_view currentAdmin.permissions.admin_manage)}}
          <li class="nav-item dropdown nav-users">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{t "Users"}}</a>
            <div class="dropdown-menu">
              {{#if currentAdmin.permissions.user_view}}
                {{#link-to "api_users" class="dropdown-item"}}{{fa-icon "user" fixedWidth=true}} {{t "API Users"}}{{/link-to}}
              {{/if}}
              {{#if currentAdmin.permissions.admin_manage}}
                {{#link-to "admins" class="dropdown-item"}}{{fa-icon "user" fixedWidth=true}} {{t "Admin Accounts"}}{{/link-to}}
                <div class="dropdown-divider"></div>
                <div role="presentation" class="dropdown-header"> {{t "Permissions Management"}}</div>
                {{#link-to "api_scopes" class="dropdown-item"}}{{fa-icon "lock" fixedWidth=true}} {{t "API Scopes"}}{{/link-to}}
                {{#link-to "admin_groups" class="dropdown-item"}}{{fa-icon "users" fixedWidth=true}} {{t "Admin Groups"}}{{/link-to}}
              {{/if}}
            </div>
          </li>
        {{/if}}
        {{#if (or currentAdmin.permissions.backend_manage currentAdmin.permissions.backend_publish)}}
          <li class="nav-item dropdown nav-config">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{t "Configuration"}}</a>
            <div class="dropdown-menu">
              {{#if currentAdmin.permissions.backend_manage}}
                {{#link-to "apis" class="dropdown-item"}}{{fa-icon "cog" fixedWidth=true}} {{t "API Backends"}}{{/link-to}}
                {{#link-to "website_backends" class="dropdown-item"}}{{fa-icon "cog" fixedWidth=true}} {{t "Website Backends"}}{{/link-to}}
              {{/if}}
              {{#if currentAdmin.permissions.backend_publish}}
                {{#link-to "config.publish" class="dropdown-item"}}{{fa-icon "upload" fixedWidth=true}} {{t "Publish Changes"}}{{/link-to}}
              {{/if}}
            </div>
          </li>
        {{/if}}
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" id="nav_gear_menu" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fa-icon "cog" fixedWidth=true}}</a>
          <div class="dropdown-menu dropdown-menu-right">
            {{#link-to "admins.edit" session.data.authenticated.admin.id class="dropdown-item" id="my_account_nav_link"}}{{t "My Account"}}{{/link-to}}
            <a href="#" class="dropdown-item" {{action "logout"}}>{{t "Sign out"}}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div id="content" class="container-fluid">
    {{outlet}}
  </div>

  <div id="version_footer" class="container-fluid">
    <div class="row">
      <div class="col-12">
        API Umbrella Version {{session.data.authenticated.api_umbrella_version}}
      </div>
    </div>
  </div>

  {{ember-load-remover}}
  {{busy-blocker}}
{{/if}}
