{{#if session.isAuthenticated}}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="#">API Umbrella</span>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown nav-analytics">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{t "Analytics"}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>{{#link-to "stats.drilldown"}}<i class="fa fa-sitemap" aria-hidden="true"></i> {{t "API Drilldown"}}{{/link-to}}</li>
              <li>{{#link-to "stats.logs"}}<i class="fa fa-signal" aria-hidden="true"></i> {{t "Filter Logs"}}{{/link-to}}</li>
              <li>{{#link-to "stats.users"}}<i class="fa fa-user" aria-hidden="true"></i> {{t "By Users"}}{{/link-to}}</li>
              <li>{{#link-to "stats.map"}}<i class="fa fa-map-marker" aria-hidden="true"></i> {{t "By Location"}}{{/link-to}}</li>
            </ul>
          </li>
          <li class="dropdown nav-users">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{t "Users"}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>{{#link-to "api_users"}}<i class="fa fa-user" aria-hidden="true"></i> {{t "API Users"}}{{/link-to}}</li>
              <li>{{#link-to "admins"}}<i class="fa fa-user" aria-hidden="true"></i> {{t "Admin Accounts"}}{{/link-to}}</li>
              <li role="separator" class="divider"></li>
              <li role="presentation" class="dropdown-header"> {{t "Permissions Management"}}</li>
              <li>{{#link-to "api_scopes"}}<i class="fa fa-lock" aria-hidden="true"></i> {{t "API Scopes"}}{{/link-to}}</li>
              <li>{{#link-to "admin_groups"}}<i class="fa fa-group" aria-hidden="true"></i> {{t "Admin Groups"}}{{/link-to}}</li>
            </ul>
          </li>
          <li class="dropdown nav-config">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{t "Configuration"}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>{{#link-to "apis"}}<i class="fa fa-gear" aria-hidden="true"></i> {{t "API Backends"}}{{/link-to}}</li>
              <li>{{#link-to "website_backends"}}<i class="fa fa-gear" aria-hidden="true"></i> {{t "Website Backends"}}{{/link-to}}</li>
              <li>{{#link-to "config.publish"}}<i class="fa fa-upload" aria-hidden="true"></i> {{t "Publish Changes"}}{{/link-to}}</li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" id="nav_gear_menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear" aria-hidden="true"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>{{#link-to "admins.edit" session.data.authenticated.admin.id id="my_account_nav_link"}}{{t "My Account"}}{{/link-to}}</li>
              <li><a href="#" {{action "logout"}}>{{t "Sign out"}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="content" class="container-fluid">
    {{outlet}}
  </div>

  <div id="version_footer" class="container-fluid">
    <div class="row-fluid">
      API Umbrella Version {{session.data.authenticated.api_umbrella_version}}
    </div>
  </div>

  {{ember-load-remover}}
  {{busy-blocker}}
{{/if}}
