{{view Admin.StatsQueryFormView enableInterval=true}}

{{view Admin.StatsIntervalChartView dataBinding='model.interval_hits'}}

<div class="row-fluid number-highlights">
  <div class="span3 number-highlight">
    <strong>{{formatNumber model.stats.total_hits}}</strong>
    <small>{{pluralize "hit" model.stats.total_hits}}</small>
  </div>
  <div class="span3 number-highlight">
    <strong>{{formatNumber model.stats.total_users}}</strong>
    <small>unique {{pluralize "user" model.stats.total_users}}</small>

    {{view Admin.StatsFacetTableView
       dataBinding='model.facets.users'
       facetTerm='user_email'
       toggleLabel='view top users'}}
  </div>
  <div class="span3 number-highlight">
    <strong>{{formatNumber model.stats.total_ips}}</strong>
    <small>unique ip {{pluralize "address" model.stats.total_ips}}</small>

    {{view Admin.StatsFacetTableView
       dataBinding='model.facets.ips'
       facetTerm='request_ip'
       toggleLabel='view top ips'}}
  </div>
  <div class="span3 number-highlight">
    <strong>{{formatNumber model.stats.average_response_time}} <span class="units">ms</span></strong>
    <small>average response time</small>
  </div>
</div>

<div id="results_table">
  {{view Admin.LogsTableView dataBinding='model.logs' queryBinding='query'}}
</div>

{{view Admin.LoadingOverlayView isLoadingBinding='controllers.application.isLoading'}}
