{{view Admin.StatsQueryFormView}}

<div id="map_container">
  {{#each breadcrumbs}}
    {{#if linkQuery}}
      {{#link-to 'stats.map' linkQuery}}{{name}}{{/link-to}} /
    {{else}}
      {{name}}
    {{/if}}
  {{/each}}

  {{view Admin.StatsMapGeoView dataBinding='model.map_regions' regionFieldBinding='model.region_field'}}
</div>

<div id="results_table">
  {{view Admin.StatsMapTableView dataBinding='model.regions'}}
</div>

{{view Admin.LoadingOverlayView isLoadingBinding='controllers.application.isLoading'}}
