<FormFields::FieldWrapper @model={{this.model}} @style={{this.style}} @fieldName={{this.fieldName}} @inputId={{this.inputId}} @label={{this.label}} @tooltip={{this.tooltip}} @hint={{this.hint}}>
  {{#each this.checkboxes as |checkbox|}}
    <div class="custom-control custom-checkbox">
      <Input @type="checkbox" @checked={{checkbox.isSelected}} id={{concat this.inputId "-" checkbox.option.id}} class="custom-control-input" />
      <label class="custom-control-label" for="{{this.inputId}}-{{checkbox.option.id}}">{{checkbox.option.name}}</label>
    </div>
  {{/each}}
</FormFields::FieldWrapper>
