{{#if (eq style "horizontal")}}
  <div class="form-horizontal">
    <div class="form-group {{wrapperErrorClass}}">
      <div class="col-sm-2 control-label">
        <label for="{{labelFor}}">{{label}}</label>
        {{help-tooltip tooltip=tooltip}}
      </div>
      <div class="col-sm-10">
        {{yield}}
        {{form-fields/hint hint=hint}}
        {{form-fields/error-messages hasErrors=fieldErrorMessages errorMessages=fieldErrorMessages}}
      </div>
    </div>
  </div>
{{else if (eq style "horizontal-wide-labels")}}
  <div class="form-horizontal">
    <div class="form-group {{wrapperErrorClass}}">
      <div class="col-sm-3 control-label">
        <label for="{{labelFor}}">{{label}}</label>
        {{help-tooltip tooltip=tooltip}}
      </div>
      <div class="col-sm-9">
        {{yield}}
        {{form-fields/hint hint=hint}}
        {{form-fields/error-messages hasErrors=fieldErrorMessages errorMessages=fieldErrorMessages}}
      </div>
    </div>
  </div>
{{else}}
  <div class="form-group {{wrapperErrorClass}}">
    <label for="{{labelFor}}">{{label}}</label>
    {{help-tooltip tooltip=tooltip}}
    {{yield}}
    {{form-fields/hint hint=hint}}
    {{form-fields/error-messages hasErrors=fieldErrorMessages errorMessages=fieldErrorMessages}}
  </div>
{{/if}}
