{{#if (eq this.style "horizontal")}}
  <div class="form-horizontal">
    <div class="form-group row {{this.wrapperErrorClass}}">
      <div class="col-sm-2 col-form-label">
        {{#if this.label}}
          <label for={{this.labelFor}}>{{this.label}}</label>
        {{/if}}
        <HelpTooltip @tooltip={{this.tooltip}} />
      </div>
      <div class="col-sm-10">
        {{yield}}
        <FormFields::Hint @hint={{this.hint}} />
        <FormFields::ErrorMessages @hasErrors={{this.fieldErrorMessages}} @errorMessages={{this.fieldErrorMessages}} />
      </div>
    </div>
  </div>
{{else if (eq this.style "horizontal-wide-labels")}}
  <div class="form-horizontal">
    <div class="form-group row {{this.wrapperErrorClass}}">
      <div class="col-sm-3 col-form-label">
        {{#if this.label}}
          <label for={{this.labelFor}}>{{this.label}}</label>
        {{/if}}
        <HelpTooltip @tooltip={{this.tooltip}} />
      </div>
      <div class="col-sm-9">
        {{yield}}
        <FormFields::Hint @hint={{this.hint}} />
        <FormFields::ErrorMessages @hasErrors={{this.fieldErrorMessages}} @errorMessages={{this.fieldErrorMessages}} />
      </div>
    </div>
  </div>
{{else}}
  <div class="form-group {{this.wrapperErrorClass}}">
    {{#if this.label}}
      <label for={{this.labelFor}}>{{this.label}}</label>
    {{/if}}
    <HelpTooltip @tooltip={{this.tooltip}} />
    {{yield}}
    <FormFields::Hint @hint={{this.hint}} />
    <FormFields::ErrorMessages @hasErrors={{this.fieldErrorMessages}} @errorMessages={{this.fieldErrorMessages}} />
  </div>
{{/if}}
