<div class="nav-section">User Guide</div>
<ul>
   <li class="<%= "active" if(current_page.url == "/docs/api-keys/") %>">
    <%= link_to("API Keys", "/docs/api-keys.html", :relative => true) %>
  </li>
</ul>

<hr>

<div class="nav-section">Administrator Guide</div>
<ul>
  <li class="<%= "active" if(current_page.url == "/docs/install/") %>">
    <%= link_to("Installation", "/docs/install.html", :relative => true) %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/getting-started/") %>">
    <%= link_to("Getting Started", "/docs/getting-started.html", :relative => true) %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/architecture/") %>">
    <%= link_to("Architecture", "/docs/architecture.html", :relative => true) %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/admin-api/") %>">
    <%= link_to("Administrative REST API", "/docs/admin-api.html", :relative => true) %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/backend-headers/") %>">
    <%= link_to("Backend HTTP Headers", "/docs/backend-headers.html", :relative => true) %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/caching/") %>">
    <%= link_to("Caching", "/docs/caching.html", :relative => true) %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/smtp-configuration/") %>">
    <%= link_to("SMTP Configuration", "/docs/smtp-configuration.html", :relative => true) %>
  </li>
</ul>

<hr>

<div class="nav-section">Developer Guide</div>
<ul>
  <li class="<%= "active" if(current_page.url == "/docs/development-setup/") %>">
    <%= link_to("Development Setup", "/docs/development-setup.html", :relative => true) %>
  </li>
  <li class="<%= "active" if(current_page.url == "/docs/deployment/") %>">
    <%= link_to("Deploying From Git", "/docs/deployment.html", :relative => true) %>
  </li>
</ul>
