<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "API Umbrella" %></title>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "all" %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">

    <link rel="canonical" href="https://apiumbrella.io<%= current_page.url %>" />
    <script>
      if(window.location.href.indexOf('nrel.github.io') !== -1) {
        window.location.href = 'https://apiumbrella.io<%= current_page.url %>';
      }
      if(window.location.href.indexOf('apiumbrella.io') !== -1 && window.location.protocol != 'https:') {
        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
      }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42866857-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
  <body class="<%= page_classes %>">
    <div id="navigation" class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-umbrella" aria-hidden="true"></i> <b>API Umbrella</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= "active" if(current_page.url == "/") %>"><%= link_to("Home", "/index.html", :relative => true) %></li>
          <li><%= link_to("Features", "/index.html", :relative => true, :anchor => "features") %></li>
          <li class="<%= "active" if(current_page.url =~ %r{^/install/}) %>"><%= link_to("Install", "/install.html", :relative => true) %></li>
          <li class="<%= "active" if(current_page.url =~ %r{^/community/}) %>"><%= link_to("Community", "/community.html", :relative => true) %></li>
          <li><%= link_to("Documentation", "https://api-umbrella.readthedocs.org") %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/NREL/api-umbrella">View on GitHub <i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <% if(current_page.data.header) %>
      <header>
        <div class="container">
          <h1><%= current_page.data.header %></h1>
        </div>
      </header>
    <% end %>

    <%= yield %>

    <div style="text-align: center; font-style: italic; padding: 2em 0.5em;">
      <a href="https://github.com/NREL/api-umbrella/blob/master/website/source<%= current_page.source_file.gsub(app.source_dir.to_s, '') %>">Help Improve this Content</a>
    </div>
  </body>
</html>
