{{error-messages model=model}}

<form {{action "submit" on="submit"}}>
  {{#fields-for model=model style="horizontal" as |f|}}
    <fieldset class="form-horizontal condensed">
      {{f.text-field "name" label="Group Name"}}
      {{f.checkboxes-field "apiScopeIds" label="Scopes" options=apiScopeOptions}}
      {{f.checkboxes-field "permissionIds" label="Permissions" options=permissionOptions}}

      {{#if model.id}}
        {{#f.static-field "admins" label="Admins"}}
          {{#if model.admins}}
            <ul>
              {{#each model.admins as |admin|}}
                <li>{{#link-to "admins.edit" admin.id}}{{admin.username}}{{/link-to}} (Last Login: {{#if admin.current_sign_in_at}}{{format-date admin.current_sign_in_at}}{{else}}Never{{/if}})</li>
              {{/each}}
            </ul>
          {{else}}
            None
          {{/if}}
        {{/f.static-field}}
      {{/if}}
    </fieldset>

    <div class="row">
      <div class="col-sm-6">
        <button type="submit" id="save_button" class="btn btn-lg btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Saving...">Save</button>
      </div>
      <div class="col-sm-6 record-details">
        {{#if model.id}}
          Created: {{format-date model.createdAt}} by {{model.creator.username}}<br>
          Last Updated: {{format-date model.updatedAt}} by {{model.updater.username}}<br>
        {{/if}}
      </div>
    </div>
    {{#if model.id}}
      <div class="form-extra-actions">
        <a href="#" class="remove-action" {{action "delete"}}><i class="fa fa-times"></i>Delete Admin Group</a>
      </div>
    {{/if}}
  {{/fields-for}}
</form>
