<% enable ||= [] %>

<%= form_tag("#", :method => :get, :id => "filter_form") do %>
  <div class="row-fluid">
    <% if(enable.include?(:interval)) %>
      <%= hidden_field_tag(:interval) %>
      <div id="interval_buttons" class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-mini" value="hour">Hour</button>
        <button type="button" class="btn btn-mini" value="day">Day</button>
        <button type="button" class="btn btn-mini" value="week">Week</button>
        <button type="button" class="btn btn-mini" value="month">Month</button>
      </div>
    <% end %>

    <% if(enable.include?(:region)) %>
      <%= hidden_field_tag(:region) %>
    <% end %>

    <%= select_tag("tz", options_for_select(ActiveSupport::TimeZone.all.map { |timezone| [timezone.to_s, timezone.tzinfo.name] }), :class => "select-mini") %>

    <%= hidden_field_tag(:start) %>
    <%= hidden_field_tag(:end) %>
    <div id="reportrange" class="pull-right">
      <i class="icon-calendar icon-large"></i>
      <span></span> <b class="caret"></b>
    </div>
  </div>
<% end %>
