<%= javascript_include_tag "admin/stats" %>

<script id="pie_facet_list_template" type="text/template">
  <div class="row-fluid">
  </div>
</script>

<script id="pie_facet_template" type="text/template">
  <div class="facet-chart"></div>
  <table class="table facet-table">
    {{#each rows}}
      <tr>
        <td>{{c.[0].v}}</td>
        <td class="value">{{c.[1].f}}</td>
      </tr>
    {{/each}}
  </table>
</script>

<script id="map_template" type="text/template">
  <div id="map_container">
    <div id="map_breadcrumbs"></div>
    <div id="map"></div>
  </div>
</script>

<script id="filter_template" type="text/template">
  <%= form_tag("#", :method => :get, :id => "filter_form") do %>
    <div class="row-fluid">
      <div class="span5 advanced-filter">
        <div id="search_field">
          <div class="input-append">
            <%= text_field_tag(:search, "", :class => "input-xlarge", :placeholder => "Advanced filters...") %>
            <button class="btn btn-small" type="submit">Filter</button>
          </div>
          <span class="help-block">Advanced filters use <a href="#" rel="popover" id="query_syntax_help">Lucene's Query Syntax</a>.</span>
          <div id="query_syntax_help_content" style="display: none;">
            <p>Use <a href="http://www.lucenetutorial.com/lucene-query-syntax.html" target="_blank">Lucene's query syntax</a> to perform complex queries.</p>
            <p>Example:</p>
            <pre>request_method:"POST" AND
  response_status:[400 TO *]</pre>
            <p>Available Fields:</p>
            <ul>
              <li>request_at</li>
              <li>request_method</li>
              <li>request_url</li>
              <li>request_path</li>
              <li>request_user_agent</li>
              <li>request_user_agent_type</li>
              <li>request_user_agent_family</li>
              <li>request_accept_encoding</li>
              <li>request_ip</li>
              <li>request_ip_country</li>
              <li>request_ip_region</li>
              <li>request_ip_city</li>
              <li>response_status</li>
              <li>response_content_type</li>
              <li>api_key</li>
              <li>user_id</li>
            </ul>
          </div>
        </div>
      </div>

      <%= hidden_field_tag(:region) %>

      <div class="span7 filter-times">
        <%= hidden_field_tag(:interval) %>
        <div id="interval_buttons" class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-mini" value="hour">Hour</button>
          <button type="button" class="btn btn-mini" value="day">Day</button>
          <button type="button" class="btn btn-mini" value="week">Week</button>
          <button type="button" class="btn btn-mini" value="month">Month</button>
        </div>


        <%= hidden_field_tag(:start) %>
        <%= hidden_field_tag(:end) %>
        <div id="reportrange" class="pull-right">

          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-calendar icon-large"></i>
            <span class="text"></span>
            <span class="caret"></span>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</script>

<script id="facet_table_partial" type="text/template">
  <table class="table facet-table" style="display: none;">
    <thead>
      <tr>
        <th>User</th>
        <th class="value">Hits</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
          <td><a href="#">{{term}}</a></td>
          <td class="value">{{formatNumber count}}</td>
          <td class="value">{{percent}}%</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script id="number_highlights" type="text/template">
  <div class="row-fluid number-highlights">
    <div class="span3 number-highlight">
      <strong>{{formatNumber totals.hits}}</strong>
      <small>{{pluralize "hit" totals.hits}}</small>
    </div>
    <div class="span3 number-highlight">
      <strong>{{formatNumber totals.users}}</strong>
      <small>unique {{pluralize "user" totals.users}}</small>

      <div class="toggle-facet-table"><a href="#" data-toggle="facet-table">view top users</a></div>
      {{> facetTable facets.users}}
    </div>
    <div class="span3 number-highlight">
      <strong>{{formatNumber totals.ips}}</strong>
      <small>unique ip {{pluralize "address" totals.ips}}</small>

      <div class="toggle-facet-table"><a href="#" data-toggle="facet-table">view top ips</a></div>
      {{> facetTable facets.ips}}
    </div>
    <div class="span3 number-highlight">
      <strong>{{formatNumber totals.avg_response_time}} <span class="units">ms</span></strong>
      <small>average response time</small>
    </div>
  </div>
</script>

<div id="filter_region"></div>
<div id="viz_region"></div>
<div id="highlight_region"></div>
<div id="facet_region"></div>
<div id="table_region"></div>
