<%= javascript_include_tag "admin/stats/models/stats" %>
<%= javascript_include_tag "admin/stats/models/hit" %>
<%= javascript_include_tag "admin/stats/views/filter_view" %>
<%= javascript_include_tag "admin/stats/views/map_view" %>
<%= javascript_include_tag "admin/stats/views/map_table" %>
<%= javascript_include_tag "admin/stats/map" %>

<%= render("filter", :enable => [:region]) %>
<div class="row-fluid">
  <div id="map_container">
    <div id="map_breadcrumbs"></div>
    <div id="map"></div>
  </div>
</div>
<div class="row-fluid">
  <div id="table_container">
  </div>
</div>
