<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Data.gov Developer Network</title>
    <%= stylesheet_link_tag "admin" %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
    <%= javascript_include_tag "admin" %>
    <%= javascript_include_tag(File.join(ActionController::Base.config.relative_url_root.to_s, "/javascripts/ckeditor/ckeditor.js")) %>
    <%= javascript_include_tag(File.join(ActionController::Base.config.relative_url_root.to_s, "/javascripts/ckeditor/adapters/jquery.js")) %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <aside id="sidebar" class="column">
      <header>
        <%= link_to("Developer Admin") %>
      </header>

      <h3><%= link_to("Dashboard", admin_api_doc_collections_path) %></h3>

      <h3>Statistics</h3>
      <ul>
        <li><%= link_to('<i class="icon-signal"></i>By Service'.html_safe, admin_api_doc_services_path) %></li>
        <li><%= link_to('<i class="icon-signal"></i>By User'.html_safe, admin_api_doc_services_path) %></li>
      </ul>

      <h3>API Documentation</h3>
      <ul>
        <li><%= link_to('<i class="icon-th-list"></i>Collections'.html_safe, admin_api_doc_collections_path) %></li>
        <li><%= link_to('<i class="icon-pencil"></i>Web Services'.html_safe, admin_api_doc_services_path) %></li>
      </ul>

      <h3>Users</h3>
      <ul>
        <li><%= link_to('<i class="icon-user"></i>API Users'.html_safe, admin_api_users_path) %></li>
        <li><%= link_to('<i class="icon-user"></i>Admin Accounts'.html_safe, admin_admins_path) %></li>
      </ul>

      <hr />
      <p><%= current_admin.email %>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<%= link_to("Logout", destroy_admin_session_path) %></p>
    </aside><!-- end of sidebar -->

    <div class="container_12">
      <% if crumbs.length > 1 %>
        <div class="grid_12 crumbs">
          <%= render_crumbs.html_safe %>
        </div>
      <% end %>

      <div class="grid_12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
