<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Data.gov Developer Network</title>
    <%= stylesheet_link_tag "admin" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js" %>
    <%= javascript_include_tag(File.join(ActionController::Base.config.relative_url_root.to_s, "/javascripts/vendor/ckeditor/ckeditor.js")) %>
    <%= javascript_tag do %>
      CKEDITOR.plugins.addExternal("pbckcode", "/javascripts/vendor/PBCKCode/");

      apiUserExistingRoles = <%= ApiUser.existing_roles.map { |role| { :id => role, :title => role } }.to_json.html_safe %>;
    <% end %>
    <%= javascript_include_tag "admin" %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= javascript_tag do %>
      google.load("visualization", "1", {packages:["corechart", "geochart"]});
    <% end %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <span class="brand">API Umbrella</span>
          <%= tabs_tag(:builder => BootstrapNavbarTabBuilder, :link_current => true, :open_tabs => { :class => "nav" }) do |tab| %>
            <%= tab.home "Dashboard", root_path, :class => "nav-home" %>
            <%= tab.analytics('Analytics <b class="caret"></b>'.html_safe, "#", :class => "dropdown nav-analytics", :link_html => { :class => "dropdown-toggle", "data-toggle" => "dropdown" }) do %>
              <ul class="dropdown-menu">
                <li><%= link_to('<i class="icon-signal"></i> Filter Logs'.html_safe, "/admin/#/stats/logs") %></li>
                <li><%= link_to('<i class="icon-user"></i> By Users'.html_safe, "/admin/#/stats/users") %></li>
                <li><%= link_to('<i class="icon-map-marker"></i> By Location'.html_safe, "/admin/#/stats/map") %></li>
              </ul>
            <% end %>
            <%= tab.documentation('Documentation <b class="caret"></b>'.html_safe, "#", :class => "dropdown nav-documentation", :link_html => { :class => "dropdown-toggle", "data-toggle" => "dropdown" }) do %>
              <ul class="dropdown-menu">
                <li><%= link_to('<i class="icon-th-list"></i> Collections'.html_safe, admin_api_doc_collections_path) %></li>
                <li><%= link_to('<i class="icon-pencil"></i> Web Services'.html_safe, admin_api_doc_services_path) %></li>
              </ul>
            <% end %>
            <%= tab.users('Users  <b class="caret"></b>'.html_safe, "#", :class => "dropdown nav-users", :link_html => { :class => "dropdown-toggle", "data-toggle" => "dropdown" }) do %>
              <ul class="dropdown-menu">
                <li><%= link_to('<i class="icon-user"></i> API Users'.html_safe, "/admin/#/api_users") %></li>
                <li><%= link_to('<i class="icon-user"></i> Admin Accounts'.html_safe, admin_admins_path) %></li>
              </ul>
            <% end %>
            <%= tab.config('Configuration <b class="caret"></b>'.html_safe, "#", :class => "dropdown nav-config", :link_html => { :class => "dropdown-toggle", "data-toggle" => "dropdown" }) do %>
              <ul class="dropdown-menu">
                <li><%= link_to('<i class="icon-gear"></i> API Backends'.html_safe, '/admin/#/apis') %></li>
                <li><%= link_to('<i class="icon-upload-alt"></i> Publish Changes'.html_safe, admin_config_publish_path) %></li>
                <li class="divider"></li>
                <li><%= link_to('<i class="icon-exchange"></i> Import/Export'.html_safe, admin_config_import_export_path) %></li>
              </ul>
            <% end %>
          <% end %>

          <ul class="nav pull-right">
            <li><%= current_admin.email %></li>
            <li><%= link_to("Logout", destroy_admin_session_path) %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" class="container-fluid">
      <% if crumbs.length > 1 %>
        <%= render("layouts/breadcrumbs") %>
      <% end %>

      <% flash.each do |flash_type, message| %>
        <div class="alert alert-<%= flash_type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div id="loading_overlay" style="display: none;"></div>
  </body>
</html>
