<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= html_title %></title>
    <!--[if lt IE 7]>
      <%= javascript_include_tag "IE7.js" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5.js" %>
    <![endif]-->
    <%= include_stylesheets :public %>
    <%= include_javascripts :public %>
    <%= csrf_meta_tag %>
  </head>
  <body class="container">
    <header>
      <map name="header_map">
        <% if(current_tab != :home) %>
          <area shape="rect" coords="0,0,840,58" href="<%= root_path %>" alt="Developer Network" />
        <% end %>
        <area shape="rect" coords="840,0,1000,58" href="http://www.nrel.gov/" alt="NREL" />
      </map>
      <%= image_tag("header.png", :alt => "NREL Developer Network", :usemap => "#header_map", :width => 1000, :height => 58) %>
      <nav>
        <%= tabs_tag(:link_current => true) do |tab| %>
          <%= tab.home "Home", root_path, :class => "nav-home" %>
          <%= tab.documentation "Documentation", doc_path, :class => "nav-documentation" %>
          <%= tab.community "Community", community_path, :class => "nav-community" %>
        <% end %>
      </nav>
    </header>

    <% if crumbs.length > 1 %>
      <div class="crumbs">
        <%= render_crumbs %>
      </div>
    <% end %>

    <% flash.each do |flash_type, message| %>
      <div class="flash-message flash-<%= flash_type %>">
        <%= simple_format(message) %>
      </div>
    <% end %>

    <%= yield %>

    <%= render("layouts/footer") %>
  </body>
</html>
