<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= html_title %></title>
    <!--[if lt IE 7]>
      <%= javascript_include_tag "IE7.js" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5.js" %>
    <![endif]-->
    <%= include_stylesheets :public %>
    <%= include_javascripts :public %>
    <%= csrf_meta_tag %>

    <script type="text/javascript">
      (function() {
        var so = document.createElement('script'); so.type = 'text/javascript'; so.async = true;
        so.src = '//www.nrel.gov/includes/ga/nrel.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(so, s);
      })();
    </script>
  </head>
  <body class="container">
    <header style="width: 100%">
      <%= image_tag("http://www.data.gov/images/logo.png", :alt => "Data.gov") %>
      <nav>
        <%= tabs_tag(:link_current => true) do |tab| %>
          <%= tab.home "Home", root_path, :class => "nav-home" %>
          <%= tab.documentation "Documentation", doc_path, :class => "nav-documentation" %>
          <%= tab.community "Community", community_path, :class => "nav-community" %>
        <% end %>
      </nav>
    </header>

    <% if crumbs.length > 1 %>
      <div class="crumbs">
        <%= render_crumbs %>
      </div>
    <% end %>

    <% flash.each do |flash_type, message| %>
      <div class="flash-message flash-<%= flash_type %>">
        <%= simple_format(message) %>
      </div>
    <% end %>

    <%= yield %>

    <%= render("layouts/footer") %>
  </body>
</html>
