<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= html_title %></title>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5.js" %>
    <![endif]-->
    <%= include_stylesheets :public %>
    <%= include_javascripts :public %>
    <%= csrf_meta_tag %>
  </head>
  <body class="popup">
    <%= yield %>

    <%= render("layouts/footer") %>
  </body>
</html>
