<h1>API Key Signup</h1>
<p>Sign up for an application programming interface (API) key to access and use web services available on the Data.gov developer network.</p>

<p class="required-fields"><%= t("simple_form.required.html") %> Required fields</p>

<%= simple_form_for(@user, :url => account_path, :method => :post, :validate => true, :html => { :class => "form-horizontal account-form" }) do |f| %>
  <%= f.input(:first_name) %>
  <%= f.input(:last_name) %>
  <%= f.input(:email) %>
  <%= f.input(:website, :required => true, :validate => true) %>
  <%= f.input(:use_description,
    :as => :text,
    :input_html => { :rows => 3 }) %>
  <%= f.input(:terms_and_conditions,
    :as => :boolean,
    :required => false,
    :label => false,
    :inline_label => %[I have read and agree to the #{link_to("terms and conditions", terms_account_path, :title => "Opens new window to terms and conditions", :onclick => "window.open(this.href, 'api_download_popup', 'height=500,width=790,menubar=no,toolbar=no,location=no,personalbar=no,status=no,resizable=yes,scrollbars=yes'); return false;")}.].html_safe) %>

  <div class="controls">
    <button type="submit" class="btn btn-large btn-primary">Signup</button>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $("#api_user_first_name").focus();
  });
<% end %>
